body {
  background-image: url("img/background.jpg");
  font-family: Iceberg;
  margin: 0;
  justify-content: center;
}

main {
  width: 60%;
  padding: 20px;
  text-align: center;
  margin: auto;
  background-color: rgba(58, 47, 47, 0.9);
}

.welcome {
  padding: 80px 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.welcomeText {
  width: 70%;
  margin: auto;
  padding: 0 20px 50px 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
}

.loginBox {
  margin: auto;
  border-radius: 25px;
  width: 50%;
  background: rgba(217, 217, 217, 1);
}

.loginText {
  padding: 20px 20px 0 20px;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}

.loginBtn {
  padding: 20px 0 30px 0;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Iceland;
  font-size: 30px;
}

.Box {
  margin: auto;
  padding: 50px 20px;
  text-align: center;
  border-radius: 35px;
  width: 60%;
  background: rgba(217, 217, 217, 1);
}

input {
  background-color: black;
  color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  margin: 10px auto 25px auto;
  padding: 10px;
}

.signText {
  width: 70%;
  margin: auto;
  padding: 50px 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
}

.homePage {
  float: left;
  margin: 20px 30px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: gray;
}

a:hover {
  color: rgb(86, 86, 86);
}

button {
  color: white;
  background-color: rgb(86, 86, 86);
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  padding: 10px;
}

button:hover {
  opacity: 0.5;
}

h3 {
  font-size: 15px;
}

#message {
  display: none;
  width: 70%;
  background: #f1f1f1;
  color: #000;
  padding: 10px;
  margin: 0 auto 15px auto;
}

#message p {
  font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
