* {
  box-sizing: border-box;
}

body {
  background-image: url("img/background.jpg");
  font-size: 14px;
}

.v102_6 {
  width: 70%;
  height: 100%;
  text-align: center;
  background: rgba(58, 47, 47, 0.9);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 246px;
  overflow: hidden;
}
.v105_7 {
  width: 813px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 103px;
  left: 314px;
  font-family: Iceberg;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v106_60 {
  width: 801px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 205px;
  left: 320px;
  font-family: Iceberg;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v105_58 {
  width: 473px;
  height: 453px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 484px;
}
.v106_61 {
  width: 425px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 393px;
  left: 508px;
  font-family: Iceberg;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v106_62 {
  width: 425px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 637px;
  left: 508px;
  font-family: Iceberg;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v106_63 {
  width: 198px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 495px;
  left: 621px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Iceland;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v106_64 {
  width: 198px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 695px;
  left: 621px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Iceland;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
