body {
  background-image: url("img/background.jpg");
  font-family: Iceberg;
  margin: 0;
  justify-content: center;
}

main {
  width: 60%;
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  background-color: rgba(58, 47, 47, 0.9);
}

.welcome {
  padding: 80px 50px;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
}

.welcomeText {
  padding: 0 20px 50px 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
}

.loginBox {
  margin: auto;
  border-radius: 5%;
  width: 40%;
  background: rgba(217, 217, 217, 1);
}
.loginText {
  padding: 10px;
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
}

.loginBtn {
  padding: 10px;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Iceland;
  font-size: 30px;
}
